body{
    background-repeat:repeat-y;
    height: 1000px;
    margin-bottom: 10%
}
h1{
    text-align: center;
}
.hobbies{
    font-size: x-large;
    padding: 5%;
}
.projects{
    font-size: x-large;
    padding: 5%;

}
.aboutme{
    font-size: x-large;
    margin-right: 5%;


}
img{
    height: 500px;
    width: 700px;
    text-align: center;
    background-color: grey;
    margin-top: 0%;
}
.photo{
    background-color: grey;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
