body{

    height: 1000px;
    margin-bottom: 10%
    
}
h1{
    text-align: center;
}
.hobbies{
    font-size: x-large;
    padding: 5%;
    color: red;
}
.projects{
    font-size: x-large;
    padding: 5%;
    color: red;

}
.aboutme{
    font-size: x-large;
    
    color: red;

    background-color: black;


}
img{
    height: 400px;
    width: 500px;
    text-align: center;
    background-color: grey;
    margin-top: 0%;
    float: left;
    
    
}
.photo{
    background-color:gray;


}

